# FRONTEND (.env.local)
NEXT_PUBLIC_API_URL=http://localhost:5000

# BACKEND (.env)
PORT=5000
MONGODB_URI=mongodb://localhost:27017
JWT_SECRET=supersecretjwtkey_vrtans_change_me_in_production
FRONTEND_URL=http://localhost:3001