# FRONTEND (.env.local)
NEXT_PUBLIC_CLIENT_URL=https://TechSensi.example.com
NEXT_PUBLIC_CLIENT_CONTACT_EMAIL=contact@TechSensi.example.com
NEXT_PUBLIC_CLIENT_TWITTER=TechSensi
NEXT_PUBLIC_CLIENT_LINKEDIN=company/TechSensi
NODE_ENV=development
NEXT_PUBLIC_API_URL=http://localhost:5015

# BACKEND (.env)
PORT=5015
MONGODB_URI=mongodb://localhost:27017
JWT_SECRET=supersecretjwtkey_vrtans_change_me_in_production
FRONTEND_URL=http://localhost:5016